// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//$purple: #573586;

// Reassign color vars to semantic color scheme
//$brand-primary: $purple;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-serif: 'Cormorant Garamond', serif;
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-base: $font-family-serif;

// This variable affects the `.h-*` and `.w-*` classes.
/*
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  1: 5rem,
  2: 7.5rem
);
*/

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

//$btn-primary-color:              $white !default;
//$btn-primary-bg: $brand-primary;
//$btn-primary-border: $btn-primary-bg;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
/*
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  ),
  2: (
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y
  ),
  4: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  5: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  6: ( // mb used in sections
    x: ($spacer-x * 8.5),
    y: ($spacer-y * 8.5)
  ),
  7: ( // mb used in person
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  )
);
*/
// Cards

//$card-columns-count: 1;

